@import "./normalize.scss";

/*:root -> 获取根元素html*/
:root {
  --label-color: #bbbbbb;
  --content-color: #000000;
  --background-color: #f0f0f0;
  --host-background-color: #ffffff;
  --guest-background-color: rgba(92, 126, 255, 0.1);
  --warning-font-color: crimson;
  --option-font-color: #3354b8;
  --label-font-size: 14px;
  --content-font-size: 16px;
  --control-font-size: 18px;
  --line-height: 1.15;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  /* background: var(--background-color); */
  color: var(--content-color);
  /* rem vw/vh */
  width: 100vw;
}

a {
  color: var(--content-color);
  text-decoration: none;
}


.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

input, textarea {
  outline: none !important;
  box-shadow: none;
  -webkit-appearance: none; /*去除系统默认的样式*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
}

input:focus,

input, textarea:focus {
  outline: none !important;
  box-shadow: none;
  -webkit-appearance: none; /*去除系统默认的样式*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
}

button:focus {
  outline: none;
}
