.wh_100p_100vh {
	width: 100%;
	height: 100vh;
}

.wh_100p_100p {
	width: 100%;
	height: 100%;
}

.wh_100vw_100vh {
	width: 100vw;
	height: 100vh;
}

.wh_100vw_100p {
	width: 100vw;
	height: 100%;
}

.wh_100vw_auto {
	width: 100vw;
	height: auto;
}

.wh_100p_auto {
	width: 100%;
	height: auto;
}

.wh_auto_auto {
	width: auto;
	height: auto;
}

.wh_auto_100p {
	width: auto;
	height: 100%;
}

.wh_auto_100vh {
	width: auto;
	height: 100vh;
}

.wh_50p_50p {
	width: 50%;
	height: 50%;
}


.wh_50p_100p {
	width: 50%;
	height: 100%;
}

.wh_40p_100p {
	width: 40%;
	height: 100%;
}

.wh_60p_100p {
	width: 60%;
	height: 100%;
}

.wh_30_30 {
	width: 30px;
	height: 30px;
}

.wh_40_40 {
	width: 40px;
	height: 40px;
}

.wh_45_45 {
	width: 45px;
	height: 45px;
}

.wh_50_50 {
	width: 50px;
	height: 50px;
}

.wh_55_55 {
	width: 55px;
	height: 55px;
}

.wh_60_60 {
	width: 60px;
	height: 60px;
}

.wh_auto_80 {
	width: auto;
	height: 80px;
}

.w_100vw {
	width: 100vw;
}

.w_100p {
	width: 100%;
}


.h_60 {
	height: 60px;
}

.h_65 {
	height: 65px;
}

.h_70 {
	height: 70px;
}

.h_80 {
	height: 80px;
}

.h_90 {
	height: 90px;
}

.h_100 {
	height: 100px;
}

.h_110 {
	height: 110px;
}

.h_120 {
	height: 120px;
}

.hgap_10 {
	width: 100%;
	height: 10px;
	background-color: transparent;
}

.hgap_15 {
	width: 100%;
	height: 15px;
	background-color: transparent;
}

.hgap_20 {
	width: 100%;
	height: 20px;
	background-color: transparent;
}

.hgap_25 {
	width: 100%;
	height: 25px;
	background-color: transparent;
}

.hgap_30 {
	width: 100%;
	height: 30px;
	background-color: transparent;
}

.hgap_35 {
	width: 100%;
	height: 35px;
	background-color: transparent;
}

.hgap_40 {
	width: 100%;
	height: 40px;
	background-color: transparent;
}

.hgap_45 {
	width: 100%;
	height: 45px;
	background-color: transparent;
}

.hgap_50 {
	width: 100%;
	height: 50px;
	background-color: transparent;
}

.hgap_55 {
	width: 100%;
	height: 55px;
	background-color: transparent;
}

.hgap_60 {
	width: 100%;
	height: 60px;
	background-color: transparent;
}

.hgap_80 {
	width: 100%;
	height: 80px;
	background-color: transparent;
}

.wgap_10 {
	width: 10px;
	height: 100%;
	background-color: transparent;
}

.wgap_15 {
	width: 15px;
	height: 100%;
	background-color: transparent;
}

.wgap_16 {
	width: 16px;
	height: 100%;
	background-color: transparent;
}

.wgap_20 {
	width: 20px;
	height: 100%;
	background-color: transparent;
}

.wgap_25 {
	width: 25px;
	height: 100%;
	background-color: transparent;
}

.wgap_30 {
	width: 30px;
	height: 100%;
	background-color: transparent;
}

.wgap_60 {
	width: 60px;
	height: 100%;
	background-color: transparent;
}

.hline_hip {
	width: 90%;
	height: 1px;
	border-bottom: 1px solid $rj-border-color;
}