.ol-viewport {
  background-color: rgba(0, 0, 0, 0);
}

.ol_popup_black {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0 1px 4px rgba(255,255,255,0.2);
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.5);
  bottom: 12px;
  left: -50px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #FFFFFF;
  height: 32px;
}

.ol_popup {
  position: absolute;
  background-color: red;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 0px;
  border: 1px solid red;
  bottom: 0;
  left: 0;
  min-width: 10px;
  height: 750px;
}










